# !IMPORTANT: This is a template file. Copy it to a file named ".env" and fill in the values before running the application.
# Do not change the template file directly, unless you are aware of the CI/CD implications.
# This template is used in the build pipeline to generate the actual .env file for the application.

# API Configuration (per service for local development)
VITE_API_BASE_URL_CORE=/api/core
VITE_API_BASE_URL_MONITORING=/api/monitoring
VITE_API_BASE_URL_MESSAGING=/api/messaging
VITE_API_BASE_URL_ONBOARDING=/api/onboarding

# APP Configuration
VITE_APP_NAME=Arkim
VITE_APP_VERSION=1.1.1

# Environment Configuration
VITE_ENVIRONMENT=<VITE_ENVIRONMENT>

# Cognito Configuration
VITE_COGNITO_ISSUER_URL=<VITE_COGNITO_ISSUER_URL>
VITE_COGNITO_APP_CLIENT_ID=<VITE_COGNITO_APP_CLIENT_ID>